.load {
  &__spinner {
    color: #eb5252;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #eeeeee;
    height: 100vh;

    &-text {
      font-size: 64px;
    }
  }
}
